<!DOCTYPE html>
<html lang="ja">
    <head>
        
        <meta charset="UTF-8">
        <title>index2</title>
    </head>
    <body>
        <h1>Hello from index2.html</h1>
        <p>index2.htmlへようこそ</p>
        <h1>GET送信</h1>
        <form action="/get" method="GET">
            <input name="data"></input>
            <button type="submit">送信</button> 
        </form>
        <h1>POST送信</h1>
        <form action="/post" method="POST">
            <input name="field"></input>
            <button type="submit">送信</button> 
        </form>
        <a href="/routing">Let's go to routing.html</a>
    </body>
</html>